<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title shrink>
          Quasar App
        </q-toolbar-title>

        <!-- Search input for adresses, displays results using an inner QMenu -->
        <q-input
          dark
          dense
          standout
          v-model="search.input"
          debounce="500"
          :loading="search.pending"
          :readonly="search.pending"
          input-class="text-right"
          class="grow q-ml-md">

          <template v-slot:append>
            <q-icon v-if="search.input === ''" name="search" />
            <q-icon v-else name="clear" class="cursor-pointer" @click="search.input = ''" />
          </template>

          <q-menu v-model="search.displayResults" no-parent-event>
            <!-- No results -->
            <div v-if="search.results.length === 0" class="text-h6 q-ma-md">
              Adresse inconnue
            </div>

            <!-- List of results -->
            <q-list v-else style="min-width: 100px">
              <q-item
                clickable
                v-close-popup
                v-for="r, idx in search.results"
                :key="idx"
                @click="updateMapPosition(r.position)"
                >
                <q-item-section>{{ r.text }}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-input>
      </q-toolbar>
    </q-header>

    <!-- Drawer menu with markers list -->
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
      >
      <q-list>
        <q-item-label header class="text-grey-8">Mes marqueurs</q-item-label>

        <q-item
          v-for="m, idx in markers"
          :key="idx"
          clickable
          v-ripple
          @click="updateMapPosition(m.position)"
          >
          <q-item-section>
            <q-item-label class="text-h6">{{ m.title }}</q-item-label>
            <q-item-label class="text-caption">{{ m.position.lat }}</q-item-label>
            <q-item-label class="text-caption">{{ m.position.lng }}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <div>
              <q-btn flat round dense icon="edit" @click.stop="editMarker(m)"/>
              <q-btn flat round dense icon="delete" @click.stop="deleteMarker(m)"/>
            </div>
          </q-item-section>
        </q-item>

      </q-list>
    </q-drawer>

    <!-- Main container, uses router-view -->
    <q-page-container>
      <router-view />
    </q-page-container>

    <!-- Edition dialog for markers -->
    <q-dialog ref="editDialog" v-model="dialog.open">
      <q-card>
        <q-card-section class="text-h3">
          Edition de marqueur
        </q-card-section>

        <q-card-section>
          <q-input v-model="dialog.title" autofocus placeholder="Titre" @keyup.enter="saveMarker"/>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Valider" @click="saveMarker"/>
          <q-btn flat label="Annuler" v-close-popup/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import axios from 'axios'

export default {
  name: 'MainLayout',

  data () {
    return {
      leftDrawerOpen: false,
      dialog: {
        open: false,
        editedMarker: null,
        title: null
      },
      search: {
        input: '',
        pending: false,
        displayResults: false,
        results: []
      }
    }
  },

  computed: {
    markers () { return this.$store.state['maps'].markers },
    searchInput () { return this.search.input }

  },

  watch: {
    searchInput (n, o) {
      this.displayResults = false
      if (n === null || n === '') return 

      this.search.pending = true
      axios.get(`https://nominatim.openstreetmap.org/search?format=json&q=${n}`)
        .then(response => {
          //console.log(response)
          const results = response.data.map(i => {
            return {
              text: i.display_name,
              position: {
                lat: parseFloat(i.lat),
                lng: parseFloat(i.lon)
              }
            }
          })
          this.search.results = results
          this.search.displayResults = true
        }).catch(error => {
          console.error(error)
        }).finally(() => {
          this.search.pending = false
        })
    }
  },

  methods: {
    updateMapPosition (position) { this.$store.dispatch('maps/setPosition', position) },

    editMarker (marker) {
      this.dialog.editedMarker = marker
      this.dialog.title = marker.title
      this.dialog.open = true
    },

    saveMarker () {
      this.dialog.open = false

      const updatedMarker = Object.assign({}, this.dialog.editedMarker, { title: this.dialog.title })
      this.dialog.editedMarker = null

      this.$store.dispatch('maps/updateMarker', updatedMarker)
    },

    deleteMarker (marker) {
      this.$q.dialog({
        title: 'Confirmer',
        message: `Etes-vous sur de vouloir supprimer le marqueur ${marker.title} ?`,
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.$store.dispatch('maps/deleteMarker', marker)
      })
    }
  }
}
</script>
